@import 'consts';
@import 'design';
@import 'normalize';


/*
 *
 * here is the DEFAULT design
 *
 */

/***** STRUCTURAL CLASSES ******/

html {
    @extend %html;
}

//

.#{$frontend-prefix}instance {
    @include instanceDesign;
}

.#{$frontend-prefix}shape-shapeless, 
.#{$frontend-prefix}size-sizeless {
    border: 1px double red;
}

.#{$frontend-prefix}size-small {
    width: 250px;
}

.#{$frontend-prefix}size-full {
    width: 100%;
    height: 100%;
}

.#{$frontend-prefix}shape-page {
    @include centeredPageDesign;
}

.#{$frontend-prefix}shape-content {
    @include contentDesign;
}

.#{$frontend-prefix}shape-row {
    @include rowDesign;
}

.#{$frontend-prefix}shape-container {
    @include containerDesign;
}

.#{$frontend-prefix}shape-element {

}

.#{$frontend-prefix}shape-widget {
    @include widgetDesign;
}

.#{$frontend-prefix}shape-icon {
  height: 10px;
  width: 10px;
  display: inline-block;
  border: 1px dotted red;
}

.#{$frontend-prefix}shape-popup {
    @include popupDesign;
}


/*  ACTIONS  */

.#{$frontend-prefix}interaction-reveal {
      @include revealMixin;
}

.#{$frontend-prefix}instance {
    form {
        @include actionsMixin;
    }
    
    fieldset {
        border: 0px;
    }
    
    input {
        @include editableMixin;
    }
    
}

.#{$frontend-prefix}header {
    form{
        display: inline;
        position: absolute;
        right: 40px;
        input{
              margin: 1px;
              background: rgba(255, 255, 255, 0.6);
              color: black;
              border: none;
              padding: 0px;
        }
    }
}

.#{$frontend-prefix}interactive-hoverable:hover .#{$frontend-prefix}interaction-tooltip {
    display:inline;
}

.#{$frontend-prefix}interactive-clickable {
    @include clickableMixin;
}

.#{$frontend-prefix}interactive-editable {
    @include editableMixin;
}


.#{$frontend-prefix}interaction-tooltip {
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:-15px;
    margin-left: 15px;
    line-height:16px;
    position:absolute;
    color:#111;
    border:1px solid #dadada;
    box-shadow: 0 0 1px #dadada;
    background:#FFF;
    
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;

    &:before { 
        content: " "; 
        display: block; 
        width: 0; 
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #dadada;
        position: absolute;
        left: -10px;
        top: 10px;
        z-index: 9;
    }

    &:after { 
        content: " "; 
        display: block; 
        width: 0; 
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 11px solid white;
        position: absolute;
        left: -8px;
        top: 10px;
        z-index: 9;
    }

}


/*  DESIGN   */
/*
  
.#{$frontend-prefix}column {
      height: 100%;
      width: 250px;
      float: left;
      padding-bottom: 100px;
  }

  
  
  
  .#{$frontend-prefix}action-editable {
    border: 1px solid grey;
    border-radius: 0 0 15px 15px;
    background: rgba(200, 200, 100, .5);
    min-height: 90px;
    margin: 1px;
  }
  
  .#{$frontend-prefix}design-clearer {
    clear: both;
  }
  
  
  .ui-selectable:hover {
    background: rgba(250, 250, 250, .2);
  }
  .ui-selectable:active {
    background: rgba(250, 250, 250, .7);
  }
  

  */


table.#{$frontend-prefix}instance {
    border-collapse: collapse;
}

.#{$frontend-prefix}proxy{
    @include proxyDesign;
}


.#{$frontend-prefix}design-clearfix {
    @include clearfixMixin;
}

.#{$frontend-prefix}design-modal-mask {
    @include modalMaskDesign;
}
.#{$frontend-prefix}instance.#{$frontend-prefix}action {
    @include actionMixin;
}

.#{$frontend-prefix}instance.#{$frontend-prefix}state-initializing {
    &:after {
        @include iconMixin_loading;
        content: '';
    }
}

.#{$frontend-prefix}action-close{
    @include iconMixin_close;
    @include actionMixin;
    margin-right: 15px;
    margin-top: 3px;
    float: right;
}

.#{$frontend-prefix}action-grid{
    @include iconMixin_grid;
    @include actionMixin;
    margin-left: 15px;
    margin-top: 3px;
    float: left;
}

.#{$frontend-prefix}action-reload{
    @include iconMixin_reload;
    @include actionMixin;
    margin-left: 15px;
    margin-top: 3px;
    float: left;
}
.#{$frontend-prefix}action-add{
    @include iconMixin_add;
    @include actionMixin;
}
.#{$frontend-prefix}action-check{
    @include iconMixin_check;
    @include actionMixin;
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.#{$frontend-prefix}action-highlight{
    @include iconMixin_highlight;
    @include actionMixin;
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.#{$frontend-prefix}action-inspect{
    @include iconMixin_inspect;
    @include actionMixin;
    margin-right: 15px;
    margin-top: 3px;
    float: right;
}


